.ai-summarization-plugin-container {
	.components-button.ai-summarization-plugin-button {
		width: 100%;
		justify-content: center;
	}

	.description {
		color: #757575;
	}
}

.block-editor-block-popover {
	.ai-summarization-block-controls-button {
		margin-top: 1px;
		height: 46px;
	}
}
